Hey, this is is default template !

Your `Ansible` playbook has been played successfuly on {{ ansible_default_ipv4.address }}.

User «{{ debian_user }}» do it with [Ansible](https://docs.ansible.com/) on {{ ansible_date_time.date }} @ {{ ansible_date_time.time }}!

Server usage
============

{% for usage in server_usage %}
    {{ usage }}
{% endfor %}
