{{ server_usage }}
-------------------
System {{ansible_distribution}}/{{ ansible_distribution_release }} ({{ ansible_distribution_major_version }}) updated {{ ansible_date_time.date }} @ {{ ansible_date_time.time }}
